Repository blazium-engine/blazium, pull requests merged in 2025-01, with the labels that each got.

#136 Add space_step() to step physics simulation manually
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer2DExtension.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/PhysicsServer3DExtension.xml
  servers/extensions/physics_server_2d_extension.cpp
  servers/extensions/physics_server_2d_extension.h
  servers/extensions/physics_server_3d_extension.cpp
  servers/extensions/physics_server_3d_extension.h
  servers/physics_2d/godot_physics_server_2d.cpp
  servers/physics_2d/godot_physics_server_2d.h
  servers/physics_3d/godot_physics_server_3d.cpp
  servers/physics_3d/godot_physics_server_3d.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  servers/physics_server_3d_wrap_mt.h
Labels: enhancement

#260 Restyle web editor loader
  misc/dist/html/editor.html
  misc/dist/html/manifest.json
  misc/dist/html/service-worker.js
Labels: enhancement

#258 Disable joints when process mode is set for node to disable
  doc/classes/Joint2D.xml
  doc/classes/Joint3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer2DExtension.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/PhysicsServer3DExtension.xml
  modules/godot_physics_2d/godot_joints_2d.cpp
  modules/godot_physics_2d/godot_joints_2d.h
  modules/godot_physics_2d/godot_physics_server_2d.cpp
  modules/godot_physics_2d/godot_physics_server_2d.h
  modules/godot_physics_3d/godot_joint_3d.h
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/godot_physics_3d/joints/godot_cone_twist_joint_3d.cpp
  modules/godot_physics_3d/joints/godot_cone_twist_joint_3d.h
  modules/godot_physics_3d/joints/godot_generic_6dof_joint_3d.cpp
  modules/godot_physics_3d/joints/godot_generic_6dof_joint_3d.h
  modules/godot_physics_3d/joints/godot_hinge_joint_3d.cpp
  modules/godot_physics_3d/joints/godot_hinge_joint_3d.h
  modules/godot_physics_3d/joints/godot_pin_joint_3d.cpp
  modules/godot_physics_3d/joints/godot_pin_joint_3d.h
  modules/godot_physics_3d/joints/godot_slider_joint_3d.cpp
  modules/godot_physics_3d/joints/godot_slider_joint_3d.h
  scene/2d/physics/joints/damped_spring_joint_2d.cpp
  scene/2d/physics/joints/groove_joint_2d.cpp
  scene/2d/physics/joints/joint_2d.cpp
  scene/2d/physics/joints/joint_2d.h
  scene/2d/physics/joints/pin_joint_2d.cpp
  scene/3d/physics/joints/joint_3d.cpp
  scene/3d/physics/joints/joint_3d.h
  servers/extensions/physics_server_2d_extension.cpp
  servers/extensions/physics_server_2d_extension.h
  servers/extensions/physics_server_3d_extension.cpp
  servers/extensions/physics_server_3d_extension.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_2d_dummy.h
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  servers/physics_server_3d_dummy.h
  servers/physics_server_3d_wrap_mt.h
Labels: enhancement

#264 [backport] Improve controller/joypad usability
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
  platform/windows/joypad_windows.cpp
  platform/windows/joypad_windows.h
Labels: topic:core

#268 Update `FoldableContainer` docs and fix sorting.
  doc/classes/FoldableContainer.xml
  scene/gui/foldable_container.cpp
Labels: enhancement, topic:gui

#269 Improve: prevent ProjectSettings from emitting settings changes.
  core/config/project_settings.cpp
Labels: enhancement, topic:editor

#270 TabBar Fix an error when increment/decrement icons are for some reason invalid.
  scene/gui/tab_bar.cpp
Labels: bug, topic:gui

#265 Adjust web editor theme and Update LOGO_LICENSE.txt
  LOGO_LICENSE.txt
  misc/dist/html/editor.html
Labels: enhancement, topic:editor

#266 Fix `ColorPicker` presets.
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
Labels: enhancement, topic:gui

#267 `LineEdit` add member `keep_editing_on_text_submit`.
  doc/classes/LineEdit.xml
  editor/code_editor.cpp
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Labels: enhancement, topic:gui

#271 Editor bottom panel fix scrolling to selected button .
  editor/gui/editor_bottom_panel.cpp
Labels: bug, topic:editor

#272 Add SplitContainer collapse mode and update to 4.4.
  doc/classes/SplitContainer.xml
  editor/themes/editor_theme_manager.cpp
  scene/gui/split_container.cpp
  scene/gui/split_container.h
  scene/theme/default_theme.cpp
  scene/theme/icons/hsplitter.svg
  scene/theme/icons/vsplitter.svg
Labels: enhancement, topic:gui

#274 Fix SplitContainer right-to-left layout.
  scene/gui/split_container.cpp
Labels: bug, topic:gui, regression
