Repository blazium-engine/blazium, pull requests merged in 2025-02, with the labels that each got.

#280 SplitContainer fix minimum size when a child is collapsed.
  scene/gui/split_container.cpp
Labels: bug, topic:gui

#281 Animation player editor fix minimum width
  editor/animation_track_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
Labels: bug, topic:editor

#282 Editor Node Fix split containers order
  editor/editor_node.cpp
  editor/editor_node.h
Labels: enhancement, topic:editor

#292 SplitContainer, preserve compatibility when collapse mode is disabled.
  scene/gui/split_container.cpp
Labels: bug, topic:gui, regression

#295 Exposed Engine.get_frame_ticks to GDScript.
  core/config/engine.cpp
  core/config/engine.h
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/Engine.xml
Labels: enhancement, topic:editor

#299 Fix launching XR apps from the Android editor
  modules/openxr/openxr_api.cpp
Labels: bug, topic:editor

#296 Fix SplitContainer separation
  scene/gui/split_container.cpp
Labels: bug, topic:gui

#294 Automatically remap endpoints for Discord Activities
  misc/dist/html/full-size.html
  platform/web/eslint.config.cjs
  platform/web/js/engine/config.js
  platform/web/js/engine/engine.externs.js
  platform/web/js/engine/engine.js
Labels: enhancement, topic:editor

#298 2D editor picks.
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/cast_2d_editor_plugin.cpp
  editor/plugins/collision_shape_2d_editor_plugin.cpp
  editor/plugins/navigation_link_2d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Labels: bug, enhancement, topic:editor

#302 Make Editor Center Split expands horizontally.
  editor/editor_node.cpp
Labels: bug, topic:editor, regression

#304 Remove unnecessary js code
  misc/dist/html/full-size.html
Labels: enhancement, topic:editor

#305 Fix Node3DEditor snapping and EditorInspector minimum size.
  doc/classes/EditorInspector.xml
  editor/editor_inspector.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Labels: bug, topic:editor

#307 Missing Editor commits.
  core/config/project_settings.cpp
  doc/classes/EditorSettings.xml
  doc/classes/ProjectSettings.xml
  editor/editor_node.cpp
  editor/gui/editor_zoom_widget.cpp
  editor/project_manager.cpp
Labels: enhancement, topic:editor, regression

#283 Fix 2D/3D editors excessive width
  editor/icons/Camera.svg
  editor/icons/FrameView.svg
  editor/icons/Grid.svg
  editor/icons/GridToggle.svg
  editor/icons/Snap.svg
  editor/icons/SnapDisable.svg
  editor/icons/SnapEnable.svg
  editor/icons/SnapGrid.svg
  editor/icons/Transform.svg
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/skeleton_3d_editor_plugin.cpp
Labels: enhancement, topic:editor

#308 Basic verbiage change in few places to fix issue # 256
  editor/project_manager.cpp
  editor/translations/editor/ar.po
  editor/translations/editor/de.po
  editor/translations/editor/es.po
  editor/translations/editor/fa.po
  editor/translations/editor/fr.po
  editor/translations/editor/ga.po
  editor/translations/editor/it.po
  editor/translations/editor/ja.po
  editor/translations/editor/ko.po
  editor/translations/editor/pl.po
  editor/translations/editor/pt.po
  editor/translations/editor/pt_BR.po
  editor/translations/editor/ru.po
  editor/translations/editor/sv.po
  editor/translations/editor/tr.po
  editor/translations/editor/uk.po
  editor/translations/editor/vi.po
  editor/translations/editor/zh_CN.po
  editor/translations/editor/zh_TW.po
Labels: enhancement, topic:project_manager

#310 Update README.md
  README.md
Labels: documentation

#328 Fix improper DBus connection lifetime in FreeDesktopScreenSaver
  platform/linuxbsd/freedesktop_screensaver.cpp
  platform/linuxbsd/freedesktop_screensaver.h
Labels: enhancement

#330 Add external material preview button to advanced import settings
  editor/import/3d/scene_import_settings.cpp
  editor/import/3d/scene_import_settings.h
Labels: enhancement, topic:editor

#332 make base wasm compression optional
  platform/web/doc_classes/EditorExportPlatformWeb.xml
  platform/web/export/export_plugin.cpp
  platform/web/export/export_plugin.h
  platform/web/js/engine/config.js
  platform/web/js/engine/engine.js
  platform/web/js/engine/preloader.js
Labels: enhancement
