Repository blazium-engine/blazium, pull requests merged in 2025-04, with the labels that each got.

#415 Backport silhouette reimport fix
  core/math/basis.cpp
  core/math/quaternion.h
  core/math/vector3.h
  doc/classes/Basis.xml
  doc/classes/Node3D.xml
  scene/3d/node_3d.cpp
  tests/core/math/test_quaternion.h
Labels: documentation, topic:core, topic:3d, bug, cherry-pick

#418 Update GDExtension and fix some asan crashes
  core/extension/extension_api_dump.cpp
  core/extension/gdextension.cpp
  core/extension/gdextension.h
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
  core/extension/gdextension_manager.cpp
  core/extension/gdextension_special_compat_hashes.cpp
  core/extension/gdextension_special_compat_hashes.h
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/make_virtuals.py
  core/object/object.cpp
  core/object/object.h
  doc/classes/GraphEdit.xml
  scene/3d/spring_bone_simulator_3d.cpp
  scene/3d/spring_bone_simulator_3d.h
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Labels: documentation, topic:gui, topic:core, topic:3d, cherry-pick

#419 Fix lost of gdextension on editor startup.
  core/io/resource_format_binary.cpp
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  scene/resources/resource_format_text.cpp
Labels: topic:editor, topic:core, bug, cherry-pick

#422 Fix missing binding for NOTIFICATION_WM_POSITION_CHANGED
  doc/classes/Node.xml
  scene/main/node.cpp
Labels: documentation, cherry-pick

#431 CI: Separate Android editor artifacts
  .github/workflows/android_builds.yml
Labels: enhancement, cicd, cherry-pick

#430 Remove DISABLE_DEPRECATED preprocessor from SplitContainer clamp_split_offset bindings
  scene/gui/split_container.cpp
  scene/gui/split_container.h
Labels: topic:gui, bug

#433 [backport] CheckBox and CheckButton check state icon colors
  doc/classes/CheckBox.xml
  doc/classes/CheckButton.xml
  scene/gui/check_box.cpp
  scene/gui/check_box.h
  scene/gui/check_button.cpp
  scene/gui/check_button.h
  scene/theme/blazium_default_theme.cpp
  scene/theme/default_theme.cpp
Labels: topic:gui, cherry-pick

#438 Use non-transparent fonts in most places Godot does
  doc/classes/Button.xml
  doc/classes/FileDialog.xml
  doc/classes/FoldableContainer.xml
  doc/classes/GraphFrame.xml
  doc/classes/GraphNode.xml
  doc/classes/ItemList.xml
  doc/classes/Label.xml
  doc/classes/LineEdit.xml
  doc/classes/LinkButton.xml
  doc/classes/MenuBar.xml
  doc/classes/PopupMenu.xml
  doc/classes/RichTextLabel.xml
  doc/classes/SpinBox.xml
  doc/classes/TabBar.xml
  doc/classes/TabContainer.xml
  doc/classes/TextEdit.xml
  doc/classes/Tree.xml
  doc/classes/Window.xml
  scene/theme/blazium_default_theme.cpp
Labels: topic:gui

#442 Show better error message for missing commas in dictionary
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, GDScript

#444 Fix CanvasItemEditor input when no scene is open.
  editor/plugins/canvas_item_editor_plugin.cpp
Labels: topic:editor, bug

#446 Fix builds failing when using MSVC 2019
  core/templates/hashfuncs.h
Labels: topic:build_system, bug, cherry-pick

#445 Update Node/Resource exports fix to match upstream version
  editor/inspector_dock.cpp
Labels: enhancement, topic:editor, cherry-pick

#443 Show better error message for two consecutive periods in an if condition
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, GDScript

#448 Fix OS_Windows::get_video_adapter_driver_info()
  platform/windows/os_windows.cpp
Labels: bug

#447 error message for match statement case _: wrong indent
  modules/gdscript/gdscript_parser.cpp
Labels: enhancement, GDScript

#453 [backport] Assorted fixes
  core/crypto/crypto_core.cpp
  core/crypto/crypto_core.h
  modules/betsy/image_compress_betsy.cpp
  modules/bmp/image_loader_bmp.cpp
  modules/cvtt/image_compress_cvtt.cpp
  modules/raycast/raycast_occlusion_cull.cpp
  modules/vorbis/resource_importer_ogg_vorbis.cpp
  modules/webxr/register_types.cpp
  scene/animation/tween.cpp
  servers/rendering/renderer_scene_occlusion_cull.h
  thirdparty/README.md
  thirdparty/ufbx/ufbx.c
  thirdparty/ufbx/ufbx.h
Labels: topic:core, cherry-pick

#457 Update thirdparty libraries
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/clipper2/include/clipper2/clipper.core.h
  thirdparty/clipper2/include/clipper2/clipper.engine.h
  thirdparty/clipper2/include/clipper2/clipper.export.h
  thirdparty/clipper2/include/clipper2/clipper.h
  thirdparty/clipper2/include/clipper2/clipper.minkowski.h
  thirdparty/clipper2/include/clipper2/clipper.offset.h
  thirdparty/clipper2/include/clipper2/clipper.rectclip.h
  thirdparty/clipper2/include/clipper2/clipper.version.h
  thirdparty/clipper2/patches/0001-disable-exceptions.patch
  thirdparty/clipper2/patches/0002-llvm-disable-int128-math.patch
  thirdparty/clipper2/src/clipper.engine.cpp
  thirdparty/clipper2/src/clipper.offset.cpp
  thirdparty/clipper2/src/clipper.rectclip.cpp
  thirdparty/misc/r128.h
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/patches/0002-png-explicit-variable-scope.patch
  thirdparty/thorvg/src/loaders/external_png/tvgPngLoader.cpp
  thirdparty/thorvg/src/loaders/external_webp/tvgWebpLoader.cpp
  thirdparty/thorvg/src/loaders/jpg/tvgJpgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoaderCommon.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgSceneBuilder.cpp
  thirdparty/thorvg/src/loaders/svg/tvgXmlParser.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMath.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwShape.cpp
  thirdparty/thorvg/src/renderer/tvgLoadModule.h
  thirdparty/thorvg/src/renderer/tvgLoader.cpp
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgTaskScheduler.cpp
  thirdparty/thorvg/src/renderer/tvgTaskScheduler.h
  thirdparty/thorvg/src/renderer/tvgText.h
  thirdparty/thorvg/update-thorvg.sh
Labels: cherry-pick

#458 [backport] Misc fixes
  core/os/keyboard.cpp
  core/templates/command_queue_mt.h
  drivers/gles3/rasterizer_scene_gles3.h
  modules/betsy/CrossPlatformSettings_piece_all.glsl
  modules/betsy/alpha_stitch.glsl
  modules/betsy/bc1.glsl
  modules/betsy/bc4.glsl
  modules/betsy/bc6h.glsl
  servers/audio/effects/audio_effect_pitch_shift.cpp
  servers/movie_writer/movie_writer.cpp
  thirdparty/jolt_physics/Jolt/Core/Memory.h
Labels: bug, cherry-pick

#441 Six-Way Lighting Material C++ Module Implementation
  .pre-commit-config.yaml
  doc/classes/Material.xml
  editor/editor_property_name_processor.cpp
  modules/sixway_mtl/LICENSE.md
  modules/sixway_mtl/README.md
  modules/sixway_mtl/SCsub
  modules/sixway_mtl/config.py
  modules/sixway_mtl/docs/SixWayLightingMaterial.xml
  modules/sixway_mtl/icons/SixWayLightingMaterial.svg
  modules/sixway_mtl/register_types.cpp
  modules/sixway_mtl/register_types.h
  modules/sixway_mtl/sixway_mtl.cpp
  modules/sixway_mtl/sixway_mtl.h
  scene/3d/mesh_instance_3d.cpp
Labels: documentation, enhancement, topic:editor, topic:3d

#464 Fix sixway_mtl formatting
  modules/sixway_mtl/register_types.cpp
Labels: cicd, regression
